<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Landing Page</title>
</head>
<body>
    <div class="container">
        <nav>
            <img src="" alt="logo">
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Buy</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <img src="../static/images/cart.png" alt="cart" class="cart-icon">

        </nav>
        <div class="text-box">
            <p>WELCOME TO</p>
            <h2>TOTE_254</h2>
            <h3>Where high quality bags are sold at affordable prices</h3>

            <div class="row">
                 <a href="">Shop Now <span> &#x27F6; </span></a>
            </div>
        </div>
        
        <div class="social-icons">
            <a href=""><img src="../static/images/dribble.png" alt=""></a>
            <a href=""><img src="../static/images/telegram.png" alt=""></a>
             <a href=""><img src="../static/images/instagram.png" alt=""></a>
        </div>

    </div>

</body>
</html>