<!DOCTYPE html>
<html lang="en">
<head>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <title>Products form</title>
    <style>
        form{
            margin: 30px;
        }

    </style>
</head>
<body>
<div class="mt-4 p-5 bg-success text-white">

        <h1>ADD NEW BAGS TO YOUR STOCK</h1>
</div>
<br>
<form action="/products" method="POST" enctype="multipart/form-data">
    <input class="form-control" type="text"name="bag_name" placeholder="Name of the bag"><br>
    <input class="form-control"type="text" name="color"placeholder="Bag Color"><br>
    <input class="form-control"type="number" name="price" placeholder="Price"><br>
    <label>Upload bag image</label><br>
    <input class="control-file" name="photo" type="file" ><br>
    <br>
    <h3 class="text-danger">{{msg}}</h3>
    <input type="submit" value="Add" class="btn btn-success">
</form>


</body>
</html>